@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('../fonts/roboto-v20-cyrillic-ext_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/roboto-v20-cyrillic-ext_latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url('../fonts/roboto-v20-cyrillic-ext_latin-ext-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-cyrillic-ext_latin-ext-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url('../fonts/roboto-v20-cyrillic-ext_latin-ext-700.woff2') format('woff2'),
       url('../fonts/roboto-v20-cyrillic-ext_latin-ext-700.woff') format('woff');
}

a {
  text-decoration: none;
}

svg {
  fill: #ffffff;
}

input,
textarea {
  border: 1px solid #d3d3d2;
}

button {
  padding: 0;
}

body {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  padding-top: 9px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;

  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.shop-logo {
  margin-right: 23px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: inherit;
}

.main-navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 700px;
  margin: 0;
  margin-top: -5px;
  padding: 0;

  list-style: none;
}

.navigation-list-item:not(:last-child) {
  margin-right: 28px;
}

.navigation-nested-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -6px;
  margin-left: auto;
  margin-right: 10px;
  width: 33px;
  height: 33px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-container svg {
  vertical-align: top;
}

.users-bttn-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: -4px;
  padding: 0;

  list-style: none;
}

.users-bttn-list-item {
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.2);
}

.users-bttn-list-item:last-child {
  padding-bottom: 6px;
}

.users-bttn-list-item:not(:last-child) {
  margin-right: 9px;
}

.users-bttn-list-item a {
  color: inherit;
}

.users-bttn-list-item svg {
  vertical-align: middle;
}

.header-contacts {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.header-contacts > span {
  margin-top: 3px;

  font-size: 22px;
  line-height: 24px;
}

.best-choice {
  margin-top: -33px;
}

.slider-list {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
  list-style: none;
}

.slider-list p {
  margin: 0;
}


.slider-list-item > a {
  padding-top: 10px;
  padding-right: 43px;
  padding-bottom: 10px;
  padding-left: 41px;
  order: 2;

  font-size: 32px;
  line-height: 44px;
  color: inherit;


  border-radius: 31px;
  background-color: #e74a35;
}

.slider-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-heading {
  margin: 0;
  margin-top: -282px;
  margin-bottom: 30px;
  padding: 0;
  order: 1;
  width: 670px;

  font-size: 60px;
  line-height: 60px;
}

.slider-change {
  width: 19px;
  height: 19px;

  border: 2px solid #ffffff;
  border-radius: 50%;

  background-color: transparent;
}

.slider-change-1 {
  background-color: #ffffff;
}

.slider-change-2 {
  left: 29px;
}

.intro-2,
.intro-3 {
  display: none;
}

.slider-change-3 {
  left: 58px;
}

.special-promotion {
  margin-bottom: 40px;
}

.special-promotion-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.special-promotion-list-item {
  width: 520px;
  min-height: 226px;
  padding: 0 20px;

  border-radius: 15px;
}

.special-promotion-raspberry {
  background-color: #841a3d;
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
}

.special-promotion-chocolate {
  background-color: #5e3924;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
}

.special-promotion-list-item a {
  display: inline-block;
  padding: 11px 22px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 24px;
  color: inherit;

  border-radius: 23px;
  background-color: #e74a35;
}

.promotion-heading {
  margin-top: 0;

  font-size: 35px;
  line-height: 41px;
}

.about-promotion {
  margin-bottom: 0;

  font-size: 18px;
  line-height: 22px;
}

.gllacy-hits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card:not(:last-of-type) {
  margin-right: 26px;
}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 267px;
  margin-bottom: 40px;
}

.product-heading {
  margin-bottom: 0;
  order: 2;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.product-card img {
  border-radius: 50%;
}

.quick-view {
  display: none;
  order: 3;

  text-align: center;
}

.product-card a {
  display: inline-block;
  padding: 10px 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;

  border-radius: 18px;
  background-color: #e84e37;
}

.product-image {
  position: relative;

  margin: 0;
  padding: 0;
}

.product-image::before {
  position: absolute;
  z-index: 1;
  left: 0;

  display: block;
  width: 61px;
  height: 61px;

  content: url("../img/hit-icon.svg");
}

.product-price {
  position: absolute;
  top: 208px;

  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.product-price span {
  font-size: 45px;
}

.gllacy-is {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 24px;
  padding-right: 26px;

  font-size: inherit;
  line-height: 22px;
  font-weight: inherit;
  color: #323232;

  border-radius: 15px;
  background-color: #eee2c8;
  background-image: url("../img/waffle-background.jpg");
}

.about-gllacy {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-list-item {
  display: flex;
  flex-direction: row;
  width: 535px;
  padding-top: 21px;
}

.advantages-list-item:first-child {
  margin-bottom: 1px;
}

.advantages-list-item:nth-child(odd) {
  margin-right: 30px;
}

.advantages-list-item::before {
  width: 49px;
  height: 49px;
  margin-right: 8px;
  margin-top: -13px;
}

.advantages-list-item:first-child::before {
  content: url("../img/ice-cream-icon.svg");
}

.advantages-list-item:nth-child(2)::before {
  content: url("../img/cow-icon.svg");
}

.advantages-list-item:nth-child(3)::before {
  content: url("../img/leaf-icon.svg");
}

.advantages-list-item:last-child::before {
  content: url("../img/thermometer-icon.svg");
}

.gllacy-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;


  font-size: inherit;
  line-height: 22px;
  font-weight: inherit;
  color: #323232;
}

.gllacy-news {
  width: 540px;
  margin-right: 26px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 57px;

  border-radius: 15px;
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
}

.gllacy-news-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-post {
  width: 285px;
  margin-top: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog-post a {
  color: inherit;
}

.email-delivery {
  width: 550px;
  padding: 5px;

  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url("../img/post-background.png");
}

.email-delivery-container {
  box-sizing: border-box;
  height: 100%;
  padding-top: 29px;
  padding-left: 22px;
  padding-right: 10px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.about-email-delivery {
  margin-top: 0;
  margin-bottom: 35px;

  font-size: inherit;
  line-height: 22px;
}

.email-delivery-form button {
  padding: 10px 19px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #e95138;
  border: none;
  border-radius: 22px;
}

.email-delivery-form input {
  width: 366px;
  height: 42px;
  margin-right: 7px;
  padding: 0;

  font-size: inherit;
  line-height: 24px;
  color: inherit;

  border-radius: 5px;
}

.gllacy-on-the-map {
  position: relative;
}

.map {
  margin: 0;
  width: 1200px;
  margin-left: -27px;
}

.address-information {
  position: absolute;
  top: 63px;
  right: 0;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 302px;
  min-height: 305px;
  padding: 0 25px;
  padding-top: 28px;
  padding-bottom: 30px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  border-radius: 15px;
  background-color: #ffffff;
}

.address-information a {
  padding: 10px 28px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  border-radius: 22px;
  background-color: #e95138;
}

.address-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 3px;
  width: 148px;
}

.address {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.tel-contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 28px;
}

.tel-contacts span {
  margin-top: 6px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.enter-the-login {
  display: none;
  box-sizing: border-box;
  width: 277px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;

  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.login-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.login-form a {
  color: inherit;
}

.login-form a:not(:last-child) {
  margin-bottom: -3px;
}

.login-form button {
  padding: 10px 25px;
  margin-right: 20px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #e95138;
  border: none;
  border-radius: 20px;
}

.login-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: -2px;
  min-width: 121px;
}

.login-input-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;

  list-style: none;
}

.login-input-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.login-input-list-item input {
  box-sizing: border-box;
  width: 241px;
  min-height: 44px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #999999;

  border-radius: 5px;
}

.feedback {
  position: relative;

  display: none;
  width: 429px;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 25px;
  padding-bottom: 27px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.feedback-subheading {
  max-width: 410px;

  margin: 0;
  margin-bottom: 20px;
}

.feedback-input-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.feedback-input-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.feedback-input-list-item input {
  padding: 0;
  width: 265px;
  height: 42px;
}

.feedback-input-list-item textarea {
  box-sizing: border-box;
  padding: 0;
  min-height: 155px;
  width: 100%;
}

.feedback-input-list-item input,
.feedback-input-list-item textarea {
  border-radius: 5px;

  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.feedback-form {
  padding-left: 1px;
}

.feedback-form button[type="submit"] {
  display: block;
  padding: 10px 24px;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  border: none;
  border-radius: 21px;
  background-color: #e95138;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 16px;

  line-height: 17px;

  border: none;
  background-color: transparent;
}

.close-button svg {
  vertical-align: top;
}


.search-on-gllacy {
  display: none;
  width: 311px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form input {
  width: 309px;
  height: 42px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #999999;

  border-radius: 5px;
}

.social-contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-right: 107px;
  width: 293px;

  list-style: none;
}

.social-contacts-list-item:not(:last-child) {
  margin-right: 11px;
}

.social-contacts-list-item:nth-child(n+5) {
  margin-top: 6px;
}

.social-contacts-list-item a {
  display: inline-block;

  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-contacts-list-item svg {
  vertical-align: top;

  fill: rgba(255, 255, 255, 0.8);
}

.main-footer {
  display: flex;
  flex-direction: row;
  padding-top: 14px;

  font-size: 13px;
  line-height: 16px;
  font-weight: inherit;
}

.information-container {
  display: flex;
  flex-direction: row;

  margin-top: 16px;
}

.legal-information-list {
  position: relative;

  margin: 0;
  margin-right: 32px;
  padding: 0;
  padding-left: 22px;

  line-height: 18px;
  list-style: none;
}

.legal-information-list::before {
  position: absolute;
  top: 3px;
  left: 0;

  width: 15px;
  height: 13px;

  content: url("../img/heart-icon.svg");
}

.legal-information-list-item:first-child {
  margin-bottom: 4px;

  font-weight: 700;
}

.legal-information-list-item a {
  color: inherit;
}

.quality-information-list {
  margin: 0;
  padding: 0;

  line-height: 18px;

  list-style: none;
}

.quality-information-list-item:first-child {
  margin-bottom: 4px;
}

.quality-information-list-item a {
  color: inherit;
}

.footer-logo {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 18px;
}

.footer-logo a {
  margin-left: 2px;
}

/*Стилизация страницы каталога сливочного мороженого*/

.shop-logo-in-catalog {
  margin-right: 10px;
}

.navigation-list-in-catalog {
  margin-top: -7px;
}

.navigation-list-item-in-catalog:not(:last-child) {
  margin-right: 15px;
}

.navigation-list-item:nth-child(2) {
  margin-right: 30px;
}

.current-navigation-list-item-in-catalog {
  padding: 7px 14px;
  padding-right: 13px;

  border-radius: 15px;
  background-color: #d07058;
}

.users-bttn-list-in-catalog {
  margin-top: -7px;
}

.users-bttn-list-item-in-catalog {
  color: #323232;
  background-color: #f8f7f4;
}

.users-bttn-list-item-in-catalog svg {
  fill: #000000;
}

.users-bttn-list-item-in-catalog .center-of-shoping-cart {
  fill: #ff0000;
}

.header-contacts-in-catalog {
  margin-top: -4px;
}

.inner-heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs a {
  color: inherit;
}

.filtr-list {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.filtr-list-item {
  background-color: rgba(255, 255, 255, 0.5);
}

.sorting {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: right;
  border: none;

  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}


.different-fat,
.different-fillers {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
}

.filtr-form button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;

  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
}

.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination a {
  display: block;
  color: inherit;
}

.current-pagination {
  color: #000000;
}
